<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.liuyude.fastmuseobsidian</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>04F54E32-B41C-4F5C-90F7-AD58971A3E3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55D7683E-E020-4924-AA1F-81194615BDCB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Daniel Lau</string>
	<key>description</key>
	<string>通过alfred workflow快速添加内容到obsidian</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>FastMuseForObsidain</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PYTHONPATH='./libs/'
export PATH="$HOME/.pyenv/shims:$HOME/.pyenv/bin:$PATH"

python3 fastMuseForObsidian.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>55D7683E-E020-4924-AA1F-81194615BDCB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>lg</string>
				<key>subtext</key>
				<string>输入你的奇思妙想...</string>
				<key>text</key>
				<string>插入灵感到obsidian</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>04F54E32-B41C-4F5C-90F7-AD58971A3E3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>04F54E32-B41C-4F5C-90F7-AD58971A3E3D</key>
		<dict>
			<key>xpos</key>
			<real>120</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>55D7683E-E020-4924-AA1F-81194615BDCB</key>
		<dict>
			<key>xpos</key>
			<real>410</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://liuyude.com</string>
</dict>
</plist>
